.navbar, .footer {
    background-color: #041d38; /* Blue background color */
    color: white; /* Text color */
}

.fullscreen-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1; /* Ensure the image is behind other content */
}

.fullscreen-bg img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensure the image covers the entire container */
}